<div ui-view="nav"></div>

<div class="home-intro">
		
</div>

<div class="container">
	<div class="row">
		<div class="home-info-section">
			<div class="col-md-5 col-md-offset-1">
				<p class="home-info-section-description">Bacon ipsum dolor amet spare ribs landjaeger meatloaf flank. Kevin ham hock pork loin, short loin hamburger swine ham. Flank tri-tip porchetta pork shoulder meatloaf pork loin rump spare ribs ham hock tenderloin drumstick pancetta. Tongue boudin sausage picanha fatback t-bone.<br><br>Bacon ipsum dolor amet spare ribs landjaeger meatloaf flank. Kevin ham hock pork loin, short loin hamburger swine ham. Flank tri-tip porchetta pork shoulder meatloaf pork loin rump spare ribs ham hock tenderloin drumstick pancetta. Tongue boudin sausage picanha fatback t-bone.</p>
			</div>

			<div class="col-md-4 col-md-offset-1">
				<img class="home-info-section-img" src="https://cdn1.iconfinder.com/data/icons/business-items/512/analytics_laptop_web_analysis_report_chart_data_stock_market_screen_business_management_information_statistics_flat_design_icon-512.png">
			</div>
		</div>
	</div>
	
</div>


<div class="home-sign-up-section text-center">
		<button class="home-sign-up-section-button">Sign Up</button>
</div>