<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1>Log In</h1><br>
            <div ng-if="login.error" class="alert alert-danger">{{login.errorMessage}}</div>
            <form ng-submit="login.login()">
                <input class="form-control" type="text" ng-model="login.user.email" placeholder="Email"><br>
                <input class="form-control" type="password" ng-model="login.user.password" placeholder="Password"><br>
                <input type="submit" class="btn btn-success" value="Login">
            </form>
        </div>
    </div>
</div>