.home-intro{
	width: 100%;
	height: 500px;
	background: url('http://cdn2.benzinga.com/files/imagecache/1024x768xUP/images/story/2012/shutterstock_88412323.jpg');
	background-position: center;
	background-size: cover;
}