.navbar-fixed-transparent{
	position: absolute;
	top: 10px;
	width: 100%;
	background: transparent;
	border: none;
	color:white;
	font-weight: bold;
}

	.navbar-fixed-transparent-navbar-item.mod-button{
	    outline:2px solid white;
	}

		.navbar-fixed-transparent-navbar-item-link{
			/* override default bootstrap hover */
			&:hover{
				background: transparent !important;
			}
		}